<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Form - Page</title>
</head>
<body>
	<div th:if="${param.error}" >
		Invalid username & password !
	</div>
	
	<div th:if="${param.logout}" >
		You have been logged out !
	</div>

	<form th:action="@{/login}" method="post" >
		<fieldset>
			<legend>Login Form:</legend>
			<div> User Name : <input type="text"  name="username" placeholder="Enter Username"/> </div>
			<div> Password : <input type="password"  name="password" placeholder="Enter Password"/> </div>
			<input type="submit" value="Sign In" />
		</fieldset>
	</form>
</body>
</html>